In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')
#path = "/content/drive/MyDrive/Colab Notebooks/Seminario_Final/db"
#

In [1]:
import pandas as pd
import sqlite3

In [2]:
path = "/mnt/e/trabajo/sysberisso/GIT_REPOS/LLM_Benchmark/prompts/db"
con = sqlite3.connect(f'{path}/prompt_sqlite.db')

In [3]:
df_view = pd.read_sql_query("SELECT name FROM sqlite_master where type='view' and name not like 'extra_%' limit 1" , con)
df_view

             name
0  gemma_7b_data1

In [4]:
#for index, row in df_view.iterrows():
#  print(f"\n#### {row['name']} ####\n")
name_tbl = df_view.iloc[0]['name']
print(name_tbl)
sql_query = f"SELECT id_promtp, answers FROM {name_tbl}" #f"SELECT id_promtp, answers FROM {row['name']}"
df_prompts = pd.read_sql_query(sql_query, con)

df_prompts

gemma_7b_data1

   id_promtp                                            answers
0          1  Claro, estoy aquí para ayudarte. ¿En qué puedo...
1          2                La capital de Francia es **París**.
2          3  ¡Claro que sí! Argentina es un país increíble ...
3          4  ## Inteligencia Artificial: La próxima generac...
4          5  "Martian Chronicles" by Ray Bradbury is a coll...
5          6  La sombra del poder se aleja,\nel corazón del ...
6          7  **Título:** El peor día de la vida de Juan\n\n...
7          8  ```python\nprint("Hola, mundo!")\n```\n\nEste ...
8          9  No se ha proporcionado ningún conjunto de dato...
9         10  ```python\nfrom pyspark.sql.functions import m...

# **Calculos Estadisticas**
Aca van a empezar los calculos de las estadisticas de lectura y NLP(PLN)

Vamos a utilizar las librerias

* [textstat](https://github.com/textstat/textstat)  : https://pypi.org/project/textstat/  
  * uso: https://www.kaggle.com/code/yhirakawa/textstat-how-to-evaluate-readability
         https://textstat.org/
         

* [textblob](https://textblob.readthedocs.io/en/dev/) : https://pypi.org/project/textblob/  
    * uso: https://pypi.org/project/textblob/  
           https://colab.research.google.com/github/vitojph/kschool-nlp-18/blob/master/notebooks/textblob.ipynb  
           https://textblob.readthedocs.io/en/dev/  
           https://notebook.community/vitojph/kschool-nlp/notebooks-py2/textblob  
           

* [vader](https://github.com/brunneis/vader-multi): https://unipython.com/analisis-de-sentimientos-con-textblob-y-vader/


https://pybonacci.org/2015/11/24/como-hacer-analisis-de-sentimiento-en-espanol-2/
https://pypi.org/project/langdetect/

In [5]:
%%capture
!pip install textstat textblob

In [2]:
import textstat

In [3]:
dir(textstat)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'attribute',
 'automated_readability_index',
 'avg_character_per_word',
 'avg_letter_per_word',
 'avg_sentence_length',
 'avg_sentence_per_word',
 'avg_syllables_per_word',
 'char_count',
 'coleman_liau_index',
 'count_arabic_long_words',
 'count_arabic_syllables',
 'count_complex_arabic_words',
 'count_faseeh',
 'crawford',
 'dale_chall_readability_score',
 'dale_chall_readability_score_v2',
 'difficult_words',
 'difficult_words_list',
 'fernandez_huerta',
 'flesch_kincaid_grade',
 'flesch_reading_ease',
 'gulpease_index',
 'gunning_fog',
 'gutierrez_polini',
 'is_difficult_word',
 'is_easy_word',
 'letter_count',
 'lexicon_count',
 'linsear_write_formula',
 'lix',
 'long_word_count',
 'mcalpine_eflaw',
 'miniword_count',
 'monosyllabcount',
 'osman',
 'polysyllabcount',
 'pyphen',
 'reading_time',
 'remove_punctuation',
 'rix',
 'sentence_count',
 'set_lang',
 'set_rm_apostrophe',
 'set_rounding',
 'smog_index',
 'spache_readability',
 'syllable_count',
 'szigriszt_pazos',
 'text_standard',
 'textstat',
 'wiener_sachtextformel',
 'words_per_sentence']


[Markdown Guide](https://www.markdownguide.org "The best Markdown reference guide")

[textstat](https://github.com/textstat/textstat)

In [16]:
df_prompts['reading_time']=df_prompts['answers'].apply(lambda x: textstat.reading_time(x))
df_prompts['flesch_reading_ease']=df_prompts['answers'].apply(lambda x: textstat.flesch_reading_ease(x))

df_prompts

,id_promtp,answers,reading_time,flesch_reading_ease
0,1,"Claro, estoy aquí para ayudarte. ¿En qué puedo...",0.75,91.78
1,2,La capital de Francia es **París**.,0.44,73.85
2,3,¡Claro que sí! Argentina es un país increíble ...,22.59,56.45
3,4,## Inteligencia Artificial: La próxima generac...,21.37,40.45
4,5,"""Martian Chronicles"" by Ray Bradbury is a coll...",7.51,40.38
5,6,"La sombra del poder se aleja,\nel corazón del ...",11.30,66.03
6,7,**Título:** El peor día de la vida de Juan\n\n...,20.76,69.99
7,8,"```python\nprint(""Hola, mundo!"")\n```\n\nEste ...",2.41,65.39
8,9,No se ha proporcionado ningún conjunto de dato...,2.78,58.58
9,10,```python\nfrom pyspark.sql.functions import m...,11.78,42.07

In [29]:
from textblob import TextBlob

text = "your products are great!"
blob = TextBlob(text)
blob.sentiment
#sentiment_polarity = blob.sentiment.polarity
#sentimiento_subjetividad = blob.sentiment.subjetividad
#print(f"Polaridad del sentimiento: {polaridad_del_sentimiento}")
#print(f"Subjetividad del sentimiento: {sentiment_subjectivity}")

Sentiment(polarity=1.0, subjectivity=0.75)

In [31]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

#analyzer.polarity_scores("VADER is VERY SMART, handsome, and FUNNY!!!")
#{'neg': 0.0, 'neu': 0.233, 'pos': 0.767, 'compound': 0.9342}

analyzer.polarity_scores("¡¡¡VADER es MUY INTELIGENTE, guapo y DIVERTIDO!!!")
{'neg': 0.0, 'neu': 0.27, 'pos': 0.73, 'compound': 0.9387}

#analyzer.polarity_scores("VADER è MOLTO INTELLIGENTE, bello e DIVERTENTE!!!")
#{'neg': 0.0, 'neu': 0.256, 'pos': 0.744, 'compound': 0.9481}
#
#analyzer.polarity_scores("VADER est TRÈS SMART, beau et drôle!!!")
#{'neg': 0.0, 'neu': 0.276, 'pos': 0.724, 'compound': 0.9338}
#
#analyzer.polarity_scores("Вейдер очень умный, красивый и смешной!!!")
#{'neg': 0.0, 'neu': 0.314, 'pos': 0.686, 'compound': 0.8989}
#
#analyzer.polarity_scores("ベイダーは非常にスマートで、ハンサムで面白いです!!!")
#{'neg': 0.0, 'neu': 0.328, 'pos': 0.672, 'compound': 0.882}
#
#analyzer.polarity_scores("வேடர் மிகவும் ஸ்மார்ட், அழகான மற்றும் வேடிக்கையானது!!!")
#{'neg': 0.0, 'neu': 0.314, 'pos': 0.686, 'compound': 0.8989}

{'neg': 0.0, 'neu': 0.27, 'pos': 0.73, 'compound': 0.9387}

In [33]:
df_prompts['test']=df_prompts['answers'].apply(lambda x: analyzer.polarity_scores(x))

df_prompts['test']

0    {'neg': 0.0, 'neu': 0.539, 'pos': 0.461, 'comp...
1    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
2    {'neg': 0.0, 'neu': 0.826, 'pos': 0.174, 'comp...
3    {'neg': 0.039, 'neu': 0.752, 'pos': 0.209, 'co...
4    {'neg': 0.0, 'neu': 0.898, 'pos': 0.102, 'comp...
5    {'neg': 0.024, 'neu': 0.668, 'pos': 0.308, 'co...
6    {'neg': 0.089, 'neu': 0.788, 'pos': 0.123, 'co...
7    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
8    {'neg': 0.061, 'neu': 0.838, 'pos': 0.101, 'co...
9    {'neg': 0.0, 'neu': 0.911, 'pos': 0.089, 'comp...
Name: test, dtype: object